
.platesContainer {
    display: grid;
    grid-template-columns: repeat(4, auto);
    margin: 2em 0;
}

.cardContainer {
    padding: 1em;
}

@media screen and (max-width: 500px) {
    .platesContainer {
        grid-template-columns: repeat(1, auto);
        margin: 2em auto;
    }
}
